/* CreateProfile.css */

/* Container styling */
.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 2rem;
  }
  
  /* Card styling */
  .profile-card {
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    animation: fade-in 0.5s ease;
    margin-top: 5rem;

  }
  
  /* Header styling */
  .profile-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(112, 110, 110);
  }
  
  /* Input styling */
  .profile-input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .profile-input:focus {
    border-color: transparent;
  }
  
  /* Button styling */
  .profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    width: 30%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .fa-button{
    color: #007bff;
    font-size: 25px;
  }
  
  .profile-button:hover {
    background-color: #0056b3;
  }
  
  /* Animation */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Additional styling for labels and text */
  .profile-label {
    font-weight: lighter;
    color: #012c59;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
  }

  .btn-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }